<mat-card [routerLink]="['/detailed', book.key]">
    <div>
        @if (book.masterVariant.prices.at(0)?.discounted) {
            <div class="discount">%</div>
        }
        <img
            mat-card-image
            [alt]="book.masterVariant.images.at(0)?.label"
            [src]="book.masterVariant.images.at(0)?.url"
        />
        <div class="header">
            @if (book.masterVariant.prices.at(0)?.discounted) {
                <div class="discounted">
                    <p class="price-discounted">
                        {{
                            book.masterVariant.prices.at(0)?.discounted?.value?.centAmount
                                | centsToEuros
                                | currency: 'EUR'
                        }}
                    </p>
                    <p class="old-price-discounted">
                        {{
                            book.masterVariant.prices.at(0)?.value?.centAmount
                                | centsToEuros
                                | currency: 'EUR'
                        }}
                    </p>
                </div>
            } @else {
                <p class="price">
                    {{
                        book.masterVariant.prices.at(0)?.value?.centAmount
                            | centsToEuros
                            | currency: 'EUR'
                    }}
                </p>
            }

            <p class="author">{{ book.masterVariant.attributes.at(0)?.value }}</p>
            <h3 class="name">{{ book.name.en }}</h3>
        </div>
    </div>

    @if (cartService.hasProductInCart(book.id)()) {
        <div class="btn-remove">
            <p mat-menu-item class="btn-disable">Already in the cart</p>
            <button
                mat-menu-item
                class="btn-activ-remove"
                (click)="
                    cartService.updateCart('removeLineItem', {
                        productId: cartService.getProductCartIdByProductId(book.id)
                    });
                    $event.stopPropagation()
                "
            >
                Remove
            </button>
        </div>
    } @else {
        <div class="btn-add">
            <button
                mat-menu-item
                class="btn-activ"
                (click)="
                    cartService.updateCart('addLineItem', { productId: book.id });
                    $event.stopPropagation()
                "
            >
                Add to cart
            </button>
        </div>
    }
</mat-card>
