:host {
    display: block;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

// .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
// margin-left: 8px;
// }
.password-wrap {
    mat-form-field {
        margin: 3px;
    }
}

mat-action-row {
    justify-content: start;
}

mat-form-field {
    width: 100%;
    max-width: 400px;
}
