:host {
    display: block;
}

.books-wrap {
    display: flex;
}

mat-drawer-container {
    background-color: transparent;
    min-height: 500px;
}

mat-drawer {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    background-color: #ebebeb;
    height: 100%;
}

.tune-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    height: max-content;
}

.range-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-slider {
        width: 85%;
    }

    h4 {
        text-align: center;
    }
}

.price-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
