@if (book$ | async; as book) {
    <div class="all-img">
        <gallery gallerize thumbPosition="left" [items]="images" [dots]="true"></gallery>
    </div>

    <div class="main-detailed">
        <h3 class="name">{{ book.masterData.current.name.en }}</h3>
        <p class="author">{{ book.masterData.current.masterVariant.attributes.at(0)?.value }}</p>

        @if (book.masterData.current.masterVariant.prices.at(0)?.discounted) {
            <div class="discounted">
                <p class="price-discounted">
                    {{
                        book.masterData.current.masterVariant.prices.at(0)?.discounted?.value
                            ?.centAmount
                            | centsToEuros
                            | currency: 'EUR'
                    }}
                </p>
                <p class="old-price-discounted">
                    {{
                        book.masterData.current.masterVariant.prices.at(0)?.value?.centAmount
                            | centsToEuros
                            | currency: 'EUR'
                    }}
                </p>
            </div>
        } @else {
            <p class="price">
                {{
                    book.masterData.current.masterVariant.prices.at(0)?.value?.centAmount
                        | centsToEuros
                        | currency: 'EUR'
                }}
            </p>
        }

        <p class="description">{{ book.masterData.current.description.en }}</p>

        @if (cartService.hasProductInCart(book.id)()) {
            <div class="btn-remove">
                <p mat-menu-item class="btn-disable">Already in the cart</p>
                <button
                    mat-menu-item
                    class="btn-activ-remove"
                    (click)="eventEmitter.emit(book.id); $event.stopPropagation()"
                >
                    Remove
                </button>
            </div>
        } @else {
            <div class="btn-add">
                <button
                    mat-menu-item
                    class="btn-activ"
                    (click)="eventEmitter.emit(book.id); $event.stopPropagation()"
                >
                    Add to cart
                </button>
            </div>
        }
    </div>
}
