:host {
    display: flex;
    gap: 15px;
    margin: 10px;
}

.all-img {
    width: 50%;
}

gallery {
    background-color: rgba(255, 255, 255, 0);
}

.main-detailed {
    width: 100%;
}

.name {
    font-size: 27px;
}

.author {
    color: gray;
}

.description {
    font-size: 20px;
}

.price {
    font-size: 20px;
    color: rgb(191, 160, 20);
}
.discounted {
    display: flex;
    gap: 10px;
}
.old-price-discounted {
    text-decoration: line-through;
    font-size: 18px;
    color: rgba(125, 123, 123, 0.716);
}
.price-discounted {
    font-size: 20px;
    color: rgb(114, 194, 17);
}
.btn-add {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.btn-remove {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    cursor: pointer;
}
.btn-activ {
    font-size: 15px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
    transition: 0.5s;
    background-color: rgba(191, 160, 20, 0.244);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(191, 160, 20, 0.534);
    }
}
.btn-activ-remove {
    font-size: 15px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
    transition: 0.5s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(205, 205, 205, 0.534);
    }
}
.btn-disable {
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
}
@media (max-width: 568px) {
    :host {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-img {
        width: 95%;
    }
}
