@if (book$ | async; as book) {
    <div class="all-img">
        <!-- other img -->
        <img [alt]="book.masterVariant.images[0].label" [src]="book.masterVariant.images[0].url" />
        <img [alt]="book.masterVariant.images[0].label" [src]="book.masterVariant.images[0].url" />
        <img [alt]="book.masterVariant.images[0].label" [src]="book.masterVariant.images[0].url" />
    </div>
    <div class="main">
        <img
            class="main-img"
            [alt]="book.masterVariant.images[0].label"
            [src]="book.masterVariant.images[0].url"
        />
    </div>
    <div class="main-detailed">
        <h3 class="name">{{ book.name.en }}</h3>
        <p class="author">{{ book.masterVariant.attributes[0].value }}</p>
        <p class="price">
            {{ book.masterVariant.prices[0].value.centAmount / 100 | currency: 'EUR' }}
        </p>
        <p class="description">{{ book.description.en }}</p>
    </div>
} @else {
    <!--: todo redirect to NotFound -->
}
