:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: no-repeat url('../assets/img/translucent-image.png');
    background-size: 25%;
    background-position: 95% 80%;
}
