<header>
    <div class="main">
        <a routerLink="main">
            <img src="assets/img/logo.png" alt="logo" />
        </a>
        <a mat-raised-button routerLink="/books">
            Catalog
            <mat-icon>auto_stories</mat-icon>
        </a>
    </div>

    @if (isLogined$ | async) {
        <div class="buttons-wrap">
            <a mat-raised-button routerLink="/cart">
                <mat-icon class="icon">shopping_cart</mat-icon>
                Cart
            </a>
            <a mat-raised-button routerLink="/profile">
                Profile
                <mat-icon>person</mat-icon>
            </a>
            <a mat-raised-button routerLink="/login" routerLinkActive="hide" (click)="logOut()">
                Log out
                <mat-icon>logout</mat-icon>
            </a>
            <a mat-raised-button routerLink="/about">
                About us
                <mat-icon>info</mat-icon>
            </a>
        </div>
    } @else {
        <div class="buttons-wrap">
            <a mat-raised-button routerLink="/cart">
                <mat-icon class="icon">shopping_cart</mat-icon>
                Cart
            </a>
            <a mat-raised-button routerLink="/login" routerLinkActive="hide" (click)="logOut()">
                Log in

                <mat-icon>login</mat-icon>
            </a>
            <a mat-raised-button routerLink="/registration" routerLinkActive="hide">
                Sign up
                <mat-icon>person_add</mat-icon>
            </a>
            <a mat-raised-button routerLink="/about">
                About us
                <mat-icon>info</mat-icon>
            </a>
        </div>
    }

    <div class="buttons-wrap-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/cart">
                <mat-icon class="icon">shopping_cart</mat-icon>
                Cart
            </button>

            @if (isLogined$ | async) {
                <button mat-menu-item routerLink="/profile">
                    <mat-icon class="icon">person</mat-icon>
                    Profile
                </button>
                <button mat-menu-item routerLink="/login" (click)="logOut()">
                    Log out
                    <mat-icon>logout</mat-icon>
                </button>
            } @else {
                <button mat-menu-item routerLink="/login" (click)="logOut()">
                    Log in
                    <mat-icon>login</mat-icon>
                </button>

                <button mat-menu-item routerLink="/registration">
                    <mat-icon>person_add</mat-icon>
                    Sign up
                </button>
            }
            <button mat-menu-item routerLink="/about">
                <mat-icon>info</mat-icon>
                About us
            </button>
        </mat-menu>
    </div>
</header>

<mat-progress-bar
    mode="indeterminate"
    [class.mat-progress-bar-active]="isLoading$ | async"
></mat-progress-bar>
