:host {
    display: block;
}

header {
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 40px;
    transform: scale(0.95);
    transition: 0.5s;

    &:hover {
        transform: scale(1);
    }
}

a {
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: center;
}

.buttons-wrap-menu {
    display: none;
}

.hide {
    display: none;
}

@media (max-width: 617px) {
    .buttons-wrap-menu {
        display: block;
        margin-right: 20px;
    }

    .buttons-wrap {
        display: none;
    }
}
