<a routerLink="main">
    <img src="assets/img/logo.png" alt="logo" />
</a>
<div class="buttons-wrap">
    <div class="buttons-wrap">
        <a mat-raised-button routerLink="/basket" routerLinkActive="active">
            <mat-icon class="icon">shopping_cart</mat-icon>
            Basket
        </a>
        @if (isLogined$ | async) {
            <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
                Log out
                <mat-icon>logout</mat-icon>
            </a>
        } @else {
            <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
                Log in
            </a>
        }
        <a mat-raised-button routerLink="/registration" routerLinkActive="active">Sign up</a>
        <!-- uncomment for sprint 3 -->
        <!-- @if (!(isLogined$ | async)) {
      <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">Log in</a>
        <a mat-raised-button routerLink="/registration" routerLinkActive="active">Sign up</a>
    }
    @else{
      <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
       Log out<mat-icon>logout</mat-icon></a>
    } -->
    </div>
</div>
