<a routerLink="main">
    <img src="assets/img/logo.png" alt="logo" />
</a>

<div class="buttons-wrap-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/cart">
            <mat-icon class="icon">shopping_cart</mat-icon>
            Cart
        </button>

        <button mat-menu-item routerLink="/login" (click)="logOut()">
            {{ (isLogined$ | async) ? 'Log out' : 'Log in' }}

            <mat-icon>{{ (isLogined$ | async) ? 'logout' : 'login' }}</mat-icon>
        </button>

        <button mat-menu-item routerLink="/registration">
            <mat-icon>person_add</mat-icon>
            Sign up
        </button>
    </mat-menu>
</div>

<div class="buttons-wrap">
    <a mat-raised-button routerLink="/cart" routerLinkActive="active">
        <mat-icon class="icon">shopping_cart</mat-icon>
        Cart
    </a>

    <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
        {{ (isLogined$ | async) ? 'Log out' : 'Log in' }}

        <mat-icon>{{ (isLogined$ | async) ? 'logout' : 'login' }}</mat-icon>
    </a>

    <a mat-raised-button routerLink="/registration" routerLinkActive="active">
        Sign up
        <mat-icon>person_add</mat-icon>
    </a>
</div>

<!-- uncomment for sprint 3 -->
<!-- @if (!(isLogined$ | async)) {
      <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">Log in</a>
        <a mat-raised-button routerLink="/registration" routerLinkActive="active">Sign up</a>
    }
    @else{
      <a mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
       Log out<mat-icon>logout</mat-icon></a>
    } -->
