<div class="video-flowers-main">
    <video #video loop="loop" class="video-flowers">
        <source src="assets/video/main.mp4" />
    </video>

    <p class="video-flowers-text">
        People who read books will always rule people
        <br />
        who watch TV
    </p>
</div>

<div class="main-item">
    <div routerLink="/books/child" class="main">
        <img src="assets/img/child.jpg" alt="main-img" class="main-img" />
        <p class="main-title main-title-1">Children's literature</p>
    </div>

    <div routerLink="/books//fiction/romance" class="main">
        <img src="assets/img/romantic.jpg" alt="main-img" class="main-img" />
        <p class="main-title main-title-2">Romantic literature</p>
    </div>

    <div class="main">
        <a routerLink="/books/fiction/mystery">
            <img src="assets/img/mystery.jpg" alt="main-img" class="main-img" />
        </a>
        <p class="main-title main-title-3">Mystery</p>
    </div>

    <div class="main">
        <a routerLink="/books/non-fiction/travel">
            <img src="assets/img/travel.jpg" alt="main-img" class="main-img" />
        </a>
        <p class="main-title main-title-4">Travel books</p>
    </div>
</div>
