:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.total-cost-wrap {
    // border-top: 3px solid gray;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-color: #ebebeba7;
    font-size: 21px;
}

.cost {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prices {
    display: flex;
    flex-wrap: wrap;
}

.promo-code {
    font-size: 18px;
    display: flex;
    text-align: center;
    border-top: 3px solid gray;
    padding: 10px;
    gap: 10px;
}

.input-promo-code {
    font-size: 18px;
    height: min-content;
}

.btn-promo-code {
    cursor: pointer;
    height: 26px;
    width: 50px;
}

.empty {
    font-size: 20px;
    text-align: center;
}
.btn-delete {
    width: max-content;
    display: flex;
    align-self: flex-end;
    background-color: rgba(222, 71, 71, 0.167);
    transition: 0.5s;
    &:hover {
        background-color: rgba(222, 71, 71, 0.249);
    }
}
@media (max-width: 617px) {
    .promo-code {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }

    .total-cost {
        font-size: 19px;
    }
}
