<mat-card>
    <form [formGroup]="registrationForm">
        <h2>Registration</h2>

        <div class="field-wrap">
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input #email matInput placeholder="pat@example.com" formControlName="email" />
                @if (controls.email.errors) {
                    <mat-error>
                        {{ controls.email.errors | getErrorMassage }}
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input
                    matInput
                    formControlName="password"
                    [type]="isPasswordHide ? 'password' : 'text'"
                />
                <button
                    mat-icon-button
                    matSuffix
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isPasswordHide"
                    (click)="isPasswordHide = !isPasswordHide; $event.preventDefault()"
                >
                    <mat-icon>{{ isPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (controls.password.errors) {
                    <mat-error>
                        {{ controls.password.errors | getErrorMassage }}
                    </mat-error>
                }
            </mat-form-field>
        </div>

        <div class="field-wrap">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" />
                @if (controls.firstName.errors) {
                    <mat-error>
                        {{ controls.firstName.errors | getErrorMassage }}
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" />
                @if (controls.lastName.errors) {
                    <mat-error>
                        {{ controls.lastName.errors | getErrorMassage }}
                    </mat-error>
                }
            </mat-form-field>
        </div>

        <ng-container formArrayName="addresses">
            <ng-container [formGroupName]="0">
                <p class="title">Shipping address</p>
                <div class="field-wrap">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input
                            #shippingAddressCountry
                            placeholder="Country"
                            matInput
                            formControlName="country"
                            [matAutocomplete]="autoShipping"
                            (change)="useAddressForBilling.checked && setDefaultBillingAddress()"
                            (focus)="getCountries()"
                        />

                        <mat-autocomplete #autoShipping="matAutocomplete">
                            @for (countryKey of availableCountries$ | async; track countryKey) {
                                <mat-option
                                    [value]="countryCodes[countryKey]"
                                    (click)="
                                        controls.shipping.postalCode.setValue('');
                                        useAddressForBilling.checked && setDefaultBillingAddress()
                                    "
                                >
                                    {{ countryCodes[countryKey] }}
                                </mat-option>
                            }
                        </mat-autocomplete>
                        @if (controls.shipping.country.errors) {
                            <mat-error>
                                {{ controls.shipping.country.errors | getErrorMassage }}
                            </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input
                            matInput
                            placeholder="City"
                            formControlName="city"
                            (change)="useAddressForBilling.checked && setDefaultBillingAddress()"
                        />
                        @if (controls.shipping.city.errors) {
                            <mat-error>
                                {{ controls.shipping.city.errors | getErrorMassage }}
                            </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Street</mat-label>
                        <input
                            matInput
                            placeholder="Street"
                            formControlName="streetName"
                            (change)="useAddressForBilling.checked && setDefaultBillingAddress()"
                        />
                        @if (controls.shipping.streetName.errors) {
                            <mat-error>
                                {{ controls.shipping.streetName.errors | getErrorMassage }}
                            </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Postal code</mat-label>
                        <input
                            matInput
                            placeholder="Postal code"
                            formControlName="postalCode"
                            (change)="useAddressForBilling.checked && setDefaultBillingAddress()"
                        />
                        @if (controls.shipping.postalCode.errors) {
                            <mat-error>
                                {{ controls.shipping.postalCode.errors | getErrorMassage }}
                            </mat-error>
                        }
                    </mat-form-field>
                </div>
            </ng-container>

            <mat-slide-toggle
                #useAddressForBilling
                color="primary"
                checked="true"
                class="slide-toggle"
                (click)="clearBillingAddress(useAddressForBilling.checked)"
            >
                Use this address for billing
            </mat-slide-toggle>

            <mat-slide-toggle #useDefaultShippingAddress color="primary">
                Set as default address
            </mat-slide-toggle>

            @if (!useAddressForBilling.checked) {
                <ng-container [formGroupName]="1">
                    <p class="title">Billing address</p>
                    <div class="field-wrap">
                        <mat-form-field>
                            <mat-label>Country</mat-label>
                            <input
                                #shippingAddressCountry
                                placeholder="Country"
                                matInput
                                formControlName="country"
                                [matAutocomplete]="autoShipping"
                                (change)="controls.billingAddress.postalCode.setValue('')"
                                (focus)="getCountries()"
                            />

                            <mat-autocomplete #autoShipping="matAutocomplete">
                                @for (countryKey of availableCountries$ | async; track countryKey) {
                                    <mat-option
                                        [value]="countryCodes[countryKey]"
                                        (click)="controls.billingAddress.postalCode.setValue('')"
                                    >
                                        {{ countryCodes[countryKey] }}
                                    </mat-option>
                                }
                            </mat-autocomplete>
                            @if (controls.billingAddress.country.errors) {
                                <mat-error>
                                    {{ controls.billingAddress.country.errors | getErrorMassage }}
                                </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" formControlName="city" />
                            @if (controls.billingAddress.city.errors) {
                                <mat-error>
                                    {{ controls.billingAddress.city.errors | getErrorMassage }}
                                </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Street</mat-label>
                            <input matInput placeholder="Street" formControlName="streetName" />
                            @if (controls.billingAddress.streetName.errors) {
                                <mat-error>
                                    {{
                                        controls.billingAddress.streetName.errors | getErrorMassage
                                    }}
                                </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Postal code</mat-label>
                            <input
                                matInput
                                placeholder="Postal code"
                                formControlName="postalCode"
                            />
                            @if (controls.billingAddress.postalCode.errors) {
                                <mat-error>
                                    {{
                                        controls.billingAddress.postalCode.errors | getErrorMassage
                                    }}
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </ng-container>
            }
            <mat-slide-toggle
                #useDefaultBillingAddress
                color="primary"
                class="slide-toggle"
                [class.hidden]="useAddressForBilling.checked"
            >
                Set as default address
            </mat-slide-toggle>
        </ng-container>

        <p class="title">Date of birth</p>
        <div class="field-wrap">
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                @if (controls.dateOfBirth.errors) {
                    <mat-error>
                        {{ controls.dateOfBirth.errors | getErrorMassage }}
                    </mat-error>
                }
            </mat-form-field>
        </div>

        <button
            mat-raised-button
            [style.marginTop.px]="10"
            [disabled]="!registrationForm.valid"
            (click)="
                signUpCustomer(useDefaultShippingAddress.checked, useDefaultBillingAddress.checked)
            "
        >
            Sign up
        </button>
        <a routerLink="/login">Already have an account?</a>
    </form>
</mat-card>
