:host {
    display: flex;
    justify-content: center;
    padding: 40px;
}

mat-card {
    width: 100%;
    max-width: 600px;

    form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.field-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2%;
}
