:host {
    display: flex;
    flex-direction: row-reverse;
}

form {
    display: contents;

    input {
        outline: none;
        height: 30px;
        width: 100%;
    }
}

mat-option {
    .book-wrap {
        display: flex;
        align-items: center;

        img {
            height: 70px;
        }
    }
}
