:host {
    display: flex;
    flex-direction: row-reverse;
}

form {
    display: contents;

    input {
        outline: none;
        height: 30px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition:
            border-color 0.3s,
            box-shadow 0.3s;
    }

    input:focus {
        border-color: #333333;
        box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
    }
}

mat-option {
    .book-wrap {
        display: flex;
        align-items: center;

        img {
            height: 70px;
            border-radius: 4px;
            padding: 3px;
            width: 45px;
        }
    }
}
