:host {
    display: flex;
    flex-direction: row-reverse;
}

form {
    display: grid;
    grid-auto-flow: column;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;

    input {
        flex-grow: 1;
        outline: none;

        &:focus {
            border: solid gray 2px;
            border-radius: 5px;
        }
    }
}

mat-option {
    .book-wrap {
        display: flex;
        align-items: center;

        img {
            height: 70px;
        }
    }
}
