<a href="https://rs.school/">
    <img src="/assets/img/logo-rsschool.png" alt="rs-school" class="rs-school" />
</a>
<div class="text">
    Everyone in our team made a unique contribution to the project and thanks to this we were able
    to successfully complete all the tasks that were set before us.
    <br />
    <br />
    👩🏻 Kristina, with her creative approach to design and attention to detail, was responsible for
    the look and feel of the site. Her work has helped create an engaging and intuitive user
    experience.
    <br />
    <br />
    👩🏻 Elena played a crucial role in ensuring the reliability of the application through robust
    unit tests in developing a seamless, user-friendly interface. Elena was involved in the
    management of Jira sprint boards, developed an extensive book database and integrated it with
    Commercetools.
    <br />
    <br />
    🧔🏻 Yauheni, as an experienced developer, served as the technical leader of the team and, since
    he had a deep understanding of Angular, wrote the most complex functionality of the site. His
    ability to solve complex problems was key to the success of the project. He coordinated the
    work, divided tasks, and ensured the project was completed on time.
    <br />
    <br />
    We used effective collaboration methods, such as Jira for planning and tracking tasks,
    communication on Discord for quickly exchanging information and resolving current issues, as
    well as regular meetings to discuss strategy and make common decisions. Thanks to a clear
    distribution of roles, the contribution of each team member, the use of effective collaboration
    methods and the use of the Scrum methodology, our project was successfully implemented.
</div>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Kristina
            <a href="https://github.com/kris-home">
                <img src="/assets/img/github.png" alt="photo" class="github" />
            </a>
        </ng-template>
        <img src="/assets/img/Kristina.jpg" alt="photo" class="photo" />
        <div class="text-about">
            Kristina is taking small steps towards her goal. She made the decision to become a
            frontend developer a long time ago, while still studying to become an ecologist, it was
            then that she realized that web development was what she would like to do in life.
            <br />
            <br />
            Initially having no experience in programming, she started her journey from scratch,
            persistently studying new technologies.
            <br />
            <br />
            Despite all the difficulties, she does not give up and continues to move confidently
            towards her goal. Her constant desire for self-improvement and strong will help her
            overcome difficulties on the path to success. Every day brings Kristina new knowledge
            and skills, bringing her closer to her dream of becoming a sought-after specialist in
            the field of web development.
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Elena
            <a href="https://github.com/EllenLis">
                <img src="/assets/img/github.png" alt="photo" class="github" />
            </a>
        </ng-template>
        <img src="/assets/img/Lena.jpg" alt="photo" class="photo" />
        <div class="text-about">
            Elena is a driven Front-End Developer with a fervent dedication to creating captivating
            digital interfaces.
            <br />
            <br />
            Armed with expertise in HTML, CSS, and JavaScript, she breathes life into websites and
            applications with meticulous attention to detail.
            <br />
            <br />
            Specializing in responsive design, Elena ensures that her projects seamlessly adapt to
            various screen sizes and devices. Known for her collaborative spirit, she excels in
            communicating with cross-functional teams to transform client visions into functional,
            visually striking products.
            <br />
            <br />
            Elena's commitment to staying ahead of industry trends and embracing emerging
            technologies underscores her passion for pushing the boundaries of web development.
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Yauheni
            <a href="https://github.com/yauhenibelski">
                <img src="/assets/img/github.png" alt="photo" class="github" />
            </a>
        </ng-template>
        <img src="/assets/img/Yauheni.jpg" alt="photo" class="photo" />
        <div class="text-about">
            Yauheni had always been passionate about computers and the Internet. Hailing from a
            small rural town in country X, where he worked as a design engineer, he felt a
            persistent restlessness. Moving was his chance to escape the monotony and pursue his
            true calling: becoming a frontend developer. This was no small dream for someone whose
            life had been rooted in the simplicity of a rural existence.
            <br />
            <br />
            Determined to transform his life, Yauheni dove headfirst into the world of web
            development. He taught himself the fundamentals of HTML, CSS, JavaScript, and
            TypeScript, driven by a relentless thirst for knowledge. Late nights blurred into early
            mornings as he navigated through endless lines of code and debugging sessions. His
            journey was marked by moments of triumph and despair, but he never wavered.
            <br />
            <br />
            His initial foray into React was promising, but it was Angular that truly captivated
            him. The complexity and elegance of Angular resonated with his engineering mindset. With
            renewed vigor, he immersed himself in mastering the framework, his enthusiasm
            unwavering.
            <br />
            <br />
            But Yauheni's ambitions didn’t stop there. He began studying Node.js, recognizing that a
            deep understanding of backend technologies would make him a more versatile and
            formidable developer. His dedication was fueled by a singular goal: to secure an
            internship at one of the largest IT corporations in the world.
            <br />
            <br />
            Each day brought him closer to this dream. His journey was a testament to his unyielding
            determination and passion. Yauheni knew that the path ahead would be challenging, but he
            embraced it with a resolute heart, ready to overcome any obstacle in his quest for
            success.
        </div>
    </mat-tab>
</mat-tab-group>
